@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* Tu color de fondo original slate-900 */
  color: #e2e8f0; /* Tu color de texto original slate-200 */
  font-family: 'Inter', sans-serif;
}